.page__header {
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  background: rgba(248, 248, 248, 1);
  border-top: 1px solid #d9fff5;
  padding: 16px;
  margin-bottom: 16px;
}

.brands {
  display: flex;
}

.brands__wrapper {
  width: auto;
  margin-bottom: 16px;
  margin-left: 16px;
}

.card {
  width: 240px;
  height: 72px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 16px;
}

.card__img {
  margin-left: 16px;
}

.card__link {
  width: 40px;
  height: 40px;

  margin-right: 16px;
}

.card__btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(/img/go.png);
}
.btn {
  margin-left: 48px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
  cursor: pointer;
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #979797;
}
@media (min-width: 768px) {
  .brands__wrapper {
    flex-wrap: wrap;
    margin-left: 24px;
  }

  .card {
    width: 224px;
  }

  .swiper-pagination {
    display: none;
  }

  .btn {
    display: block;
  }

  .hidden {
    height: 170px;
    overflow: hidden;
  }

  .btn::before {
    content: "";
    background: url(/img/expand.png) no-repeat center;
    transform: rotate(-180deg);
    width: 24px;
    height: 24px;
    position: absolute;
    left: -26px;
  }

  .btn.btn__show::before {
    content: "";
    background: url(/img/expand.png) no-repeat center;
    transform: rotate(0deg);
    width: 24px;
    height: 24px;
    position: absolute;
    left: -26px;
  }
}

@media (min-width: 1120px) {
  .card {
    width: 240px;
    margin-right: 32px;
  }
}
